{block head}
    <style>
        table tr td:last-child {
            white-space: nowrap;
            width: 1px;
        }
    </style>
{/block}
{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Seznam uživatelů</h3>
        </div>
        <div class="col-md-4 col-4">
            <a n:href="User:create" class="btn btn-primary pull-right">Nový uživatel</a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Jméno</th>
                        <th>Email</th>
                        <th>Uživatelská role</th>
                        <th>Status</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                {snippet usersContainer}
                    {foreach $users as $u}
                        <tr>
                            <td>{$u|fullname}</td>
                            <td>{$u->email}</td>
                            <td>{$u->user_role->display_name}</td>
                            <td>{if $u->active}<span class="badge badge-success">Aktivní</span>{else}<span class="badge badge-danger">Deaktivovaný</span>{/if}</td>
                            <td>
                                <a n:href="User:edit $u->id">Upravit</a>
                                <a n:href="deactivate! $u->id">{if $u->active}Deaktivovat{else}Aktivovat{/if}</a>
                            </td>
                        </tr>
                    {/foreach}
                {/snippet}
                </tbody>
            </table>
        </div>
    </div>
{/block}
{block scripts}
    <script>
        function deleteUser(link) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }
    </script>
{/block}