{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Úprava uživatele</h3>
        </div>
        <div class="col-md-4 col-4">

        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <form n:name="userEditForm">
                <div class="form-group">
                    <label n:name="email">Email</label>
                    <input n:name="email" class="form-control {$form['email']->error ? 'is-invalid'}">
                    <div class="invalid-feedback">{$form['email']->error}</div>
                </div>
                <div class="form-group">
                    <label n:name="password">Heslo</label>
                    <div class="input-group {$form['password']->error ? 'is-invalid'}">
                        <input n:name="password" class="form-control {$form['password']->error ? 'is-invalid'}" data-toggle="password" autocomplete="new-password">
                    </div>
                    <div class="invalid-feedback">{$form['password']->error}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label n:name="titles_before">Tituly před</label>
                        <input n:name="titles_before" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label n:name="firstname">Křestní jméno</label>
                        <input n:name="firstname" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label n:name="lastname">Příjmení</label>
                        <input n:name="lastname" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label n:name="titles_after">Tituly po</label>
                        <input n:name="titles_after" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label n:name="user_role_id">Uživatelská role</label>
                    <select n:name="user_role_id" class="form-control"></select>
                </div>
                {foreach $shiftTypes as $type}
                <div class="form-group">
                    <label n:name="limit$type->id">Limit směn typu {$type->name}</label>
                    <input n:name="limit$type->id" class="form-control">
                </div>
                {/foreach}
                <input n:name="submit" value="Upravit" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <h3>Vybrané směny v měsíci</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Měsíc/Rok</th>
                    {foreach $shiftTypes as $type}
                        <th>{$type->name}</th>
                    {/foreach}
                </tr>
                </thead>
                <tbody>
                {foreach $dates as $d}
                    <tr>
                        <td>{$d->format('m/Y')}</td>
                        {foreach $shiftTypes as $type}
                            <td>{$type->id|current:$d}</td>
                        {/foreach}
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
{/block}
{block scripts}
    <script src="{$basePath}/plugins/bootstrap-show-password.min.js"></script>
{/block}