{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>{$date->format('d. m. Y')}</h3>
        </div>
        <div class="col-md-4 col-4">

        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <form n:name="shiftEditForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label n:name="from">Začátek směny</label>
                        <input n:name="from" class="form-control {$form['from']->error ? 'is-invalid'}">
                        <div class="invalid-feedback">{$form['from']->error}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label n:name="to">Konec směny</label>
                        <input n:name="to" class="form-control {$form['to']->error ? 'is-invalid'}">
                        <div class="invalid-feedback">{$form['to']->error}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label n:name="office">Pracoviště</label>
                    <select n:name="office" class="form-control {$form['office']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['office']->error}</div>
                </div>
                <div class="form-group">
                    <label n:name="shift_type">Typ směny</label>
                    <select n:name="shift_type" class="form-control {$form['shift_type']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['shift_type']->error}</div>
                </div>
                <div class="form-group">
                    <label n:name="shift_version">Verze směny</label>
                    <select n:name="shift_version" class="form-control {$form['shift_version']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['shift_version']->error}</div>
                </div>
                {if $shift->shift_version_id == App\Model\ShiftVersionManager::STANDARD}
                <div class="form-group">
                    <label n:name="doctor">Doktor</label>
                    <select n:name="doctor" class="form-control {$form['doctor']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['doctor']->error}</div>
                </div>
                {/if}
                {if $shift->shift_version_id == App\Model\ShiftVersionManager::STANDARD || $shift->shift_version_id == App\Model\ShiftVersionManager::ONLY_SISTER}
                <div class="form-group">
                    <label n:name="nurse">Zdravotní sestra</label>
                    <select n:name="nurse" class="form-control {$form['nurse']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['nurse']->error}</div>
                </div>
                {/if}
                {if $shift->shift_version_id == App\Model\ShiftVersionManager::RECEPTIONIST}
                <div class="form-group">
                    <label n:name="receptionist">Recepční</label>
                    <select n:name="receptionist" class="form-control {$form['receptionist']->error ? 'is-invalid'}"></select>
                    <div class="invalid-feedback">{$form['receptionist']->error}</div>
                </div>
                {/if}
                <input n:name="submit" value="Upravit" class="btn btn-primary">
            </form>
        </div>
    </div>
{/block}
{block scripts}

{/block}