{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Směny</h3>
        </div>
        <div class="col-md-4 col-4">
            <a href="" class="btn btn-primary pull-right">Další týden</a>
            <a href="" class="btn btn-primary pull-right" style="margin-right: 5px">Předchozí týden</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Pondělí</th>
                    <th>Úterý</th>
                    <th>Středa</th>
                    <th>Čtvrtek</th>
                    <th>Pátek</th>
                    <th>Sobota</th>
                    <th>Neděle</th>
                </tr>
            </thead>
            <tbody>
                {foreach $offices as $office}
                        {foreach $shiftTypes as $type}
                            <tr>
                                <th>{$office->name} - {$type->name}</th>
                                <td><span class="badge badge-success">Ing. Jakub Vitásek</span> <br><span class="badge badge-primary">Ing. Jakub Vitásek</span></td>
                                <td><span class="badge badge-success">Ing. Jakub Vitásek</span> <br><span class="badge badge-primary">Ing. Jakub Vitásek</span></td>
                                <td><span class="badge badge-success">Ing. Jakub Vitásek</span> <br><span class="badge badge-primary">Ing. Jakub Vitásek</span></td>
                                <td><span class="badge badge-success">Ing. Jakub Vitásek</span> <br><span class="badge badge-primary">Ing. Jakub Vitásek</span></td>
                                <td><span class="badge badge-success">Ing. Jakub Vitásek</span> <br><span class="badge badge-primary">Ing. Jakub Vitásek</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {/foreach}
                {/foreach}
            </tbody>
        </table>
    </div>
{/block}