{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Detail směny</h3>
        </div>
        <div class="col-md-4 col-4">
            {if $user->isInRole('admin')}<a n:href="Shift:delete $shift->id" class="btn btn-danger pull-right">Odstranit</a>{/if}
        </div>
    </div>
    {snippet shiftContainer}
    <div class="row py-3">
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-sm-3">Typ směny:</dt>
                <dd class="col-sm-9">{$shift->shift_type->name}</dd>

                <dt class="col-sm-3">Začátek směny:</dt>
                <dd class="col-sm-9">{$shift->working_hours_from->format('d. m. Y H:i')}</dd>

                <dt class="col-sm-3">Konec směny:</dt>
                <dd class="col-sm-9">{$shift->working_hours_to->format('d. m. Y H:i')}</dd>

                <dt class="col-sm-3">Ordinace:</dt>
                <dd class="col-sm-9">{$shift->office->name}</dd>

                <dt class="col-sm-3">Doktor:</dt>
                <dd class="col-sm-9">
                    {if !$user->isInRole('nurse') }{$shift->doctor|fullname}{else}{if $shift->doctor}Přihlášen{/if}{/if}
                    {if $user->isInRole('admin') && $shift->doctor }<a n:href="deleteDoctor!"> <i class="fa fa-ban"></i></a>{/if}
                </dd>

                <dt class="col-sm-3">Zdravotní sestra:</dt>
                <dd class="col-sm-9">
                    {$shift->nurse|fullname}
                    {if $user->isInRole('admin') && $shift->nurse}<a n:href="deleteNurse!"> <i class="fa fa-ban"></i></a>{/if}
                </dd>
            </dl>

            <div class="row">
                <div class="col-md-12">
                    {if !$shift->doctor && $user->isInRole('doctor') && $shift->working_hours_from > date("Y-m-d H:i:s")}<a n:href="sign!" class="btn btn-success">Přihlásit se</a>{/if}
                    {if !$shift->nurse && $user->isInRole('nurse') && $shift->working_hours_from > date("Y-m-d H:i:s")}<a n:href="sign!" class="btn btn-success">Přihlásit se</a>{/if}
                    {if $canSignOut}<a n:href="signOut!" class="btn btn-danger">Odhlásit se</a>{/if}
                </div>
            </div>
        </div>
    </div>
    {/snippet}
    <div class="row">

    </div>
{/block}