{block head}
    <style>
        table tr td:last-child {
            white-space: nowrap;
            width: 1px;
        }
    </style>
{/block}
{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>{$day} - {$shiftType}</h3>
        </div>
        <div class="col-md-4 col-4">
            <a n:href="Homepage:default $date->format('Y-m-d')" class="btn btn-primary pull-right">Zpět</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Pracovní doba</th>
                    <th>Pracoviště</th>
                    <th>Doktor</th>
                    <th>Sestra</th>
                    <th>Recepční</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbod>
                {snippet shiftsContainer}
                    {foreach $shifts as $shift}
                    <tr>
                        <td>{$shift->working_hours_from->format('H:i')} - {$shift->working_hours_to->format('H:i')}</td>
                        <td>{$shift->office->name}</td>
                        <td>
                            {if !$user->isInRole('nurse') }{$shift->doctor|fullname}{else}{if $shift->doctor}Přihlášen{/if}{/if}
                            {if $user->isInRole('admin') && $shift->doctor }<a n:href="deleteDoctor! $shift->id"> <i class="fa fa-ban"></i></a>{/if}
                        </td>
                        <td>
                            {$shift->nurse|fullname}
                            {if $user->isInRole('admin') && $shift->nurse}<a n:href="deleteNurse! $shift->id"> <i class="fa fa-ban"></i></a>{/if}
                        </td>
                        <td>
                            {$shift->receptionist|fullname}
                            {if $user->isInRole('admin') && $shift->receptionist}<a n:href="deleteReceptionist! $shift->id"> <i class="fa fa-ban"></i></a>{/if}
                        </td>
                        <td>
                            {if !$shift->doctor && $user->isInRole('doctor') && $canSignIn[$shift->id]}<a n:href="sign! $shift->id" class="btn btn-success">Přihlásit se</a>{/if}
                            {if !$shift->nurse && $user->isInRole('nurse') && $canSignIn[$shift->id]}<a n:href="sign! $shift->id" class="btn btn-success">Přihlásit se</a>{/if}
                            {if $canSignOut[$shift->id]}<a n:href="signOut! $shift->id" class="btn btn-danger">Odhlásit se</a>{/if}
                            {if $user->isInRole('admin')}<a n:href="Shift:edit $shift->id" class="btn btn-primary">Upravit</a>{/if}
                            {if $user->isInRole('admin')}<a n:href="Shift:delete $shift->id" class="btn btn-danger">Odstranit</a>{/if}
                        </td>
                    </tr>
                    {/foreach}
                {/snippet}
            </tbod>
        </table>
    </div>
{/block}