<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>Shift planner</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{$basePath}/plugins/bootstrap-4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/plugins/fontawesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/sign.css">
	{block head}{/block}
</head>

<body class="text-center">
	{include content}

	<script src="{$basePath}/plugins/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="{$basePath}/plugins/bootstrap-4.4.1/js/bootstrap.min.js"></script>
	{block scripts}
	{/block}
</body>
</html>
