{block head}
{/block}
{block content}
    <form n:name="signInForm" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Přihlášení do systému plánovače směn</h1>
        <div class="form-group">
            <label n:name="email" class="sr-only">Email address</label>
            <input n:name="email" class="form-control {$form['email']->error ? 'is-invalid'}" placeholder="Email" autofocus>
            <div class="invalid-feedback">{$form['email']->error}</div>
        </div>
        <div class="form-group">
            <label n:name="password" class="sr-only">Password</label>
            <input n:name="password" class="form-control {$form['password']->error ? 'is-invalid'}" placeholder="Heslo">
            <div class="invalid-feedback">{$form['password']->error}</div>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input n:name="remember"> Zapamatovat přihlášení
            </label>
        </div>
        <input n:name="submit" value="Přihlásit" class="btn btn-lg btn-primary btn-block">
        <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>
{/block}
{block scripts}
{/block}