{block head}
    <style>
        table tr td:last-child {
            white-space: nowrap;
            width: 1px;
        }
    </style>
{/block}
{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Seznam pracovišť</h3>
        </div>
        <div class="col-md-4 col-4">
            <a n:href="Office:create" class="btn btn-primary pull-right">Nové pracoviště</a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Název</th>
                    <th>Status</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                {snippet officesContainer}
                    {foreach $offices as $office}
                        <tr>
                            <td>{$office->id}</td>
                            <td>{$office->name}</td>
                            <td>{if $office->active}<span class="badge badge-success">Aktivní</span>{else}<span class="badge badge-danger">Deaktivovaný</span>{/if}</td>
                            <td>
                                <a n:href="Office:edit $office->id">Upravit</a>
                                <a n:href="deactivate! $office->id">{if $office->active}Deaktivovat{else}Aktivovat{/if}</a>
                            </td>
                        </tr>
                    {/foreach}
                {/snippet}
                </tbody>
            </table>
        </div>
    </div>
{/block}
{block scripts}

{/block}