{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Úprava pracoviště</h3>
        </div>
        <div class="col-md-4 col-4">

        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <form n:name="officeEditForm">
                <div class="form-group">
                    <label n:name="name">Název</label>
                    <input n:name="name" class="form-control {$form['name']->error ? 'is-invalid'}">
                    <div class="invalid-feedback">{$form['name']->error}</div>
                </div>
                <input n:name="submit" value="Upravit" class="btn btn-primary">
            </form>
        </div>
    </div>
{/block}