<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>Plánovač směn</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{$basePath}/plugins/bootstrap-4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/plugins/fontawesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/plugins/air-datepicker/datepicker.min.css">
{*	<link rel="stylesheet" href="{$basePath}/plugins/fullcalendar-3.9.0/fullcalendar.edited.css">*}
	<link rel="stylesheet" href="{$basePath}/plugins/fullcalendar-4.3.1/core/main.css">
	<link rel="stylesheet" href="{$basePath}/plugins/fullcalendar-4.3.1/daygrid/main.css">
	<link rel="stylesheet" href="{$basePath}/plugins/fullcalendar-4.3.1/timegrid/main.css">
	<link rel="stylesheet" href="{$basePath}/plugins/fullcalendar-4.3.1/bootstrap/main.css">
	<link rel="stylesheet" href="{$basePath}/plugins/sweetalert2/sweetalert2.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Plánovač směn</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample07">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item {if $presenter == "Homepage" && $action == "default"}active{/if}">
						<a class="nav-link" n:href="Homepage:">Kalendář</a>
					</li>
					<li class="nav-item {if $presenter == "Homepage"  && $action == "preview"}active{/if}">
						<a class="nav-link" n:href="Homepage:preview">Přehled</a>
					</li>
					{if $user->isAllowed('User')}
					<li class="nav-item {if $presenter == "User"}active{/if}">
						<a class="nav-link" n:href="User:">Zaměstnanci</a>
					</li>
					{/if}
					{if $user->isAllowed('Office')}
					<li class="nav-item {if $presenter == "Office"}active{/if}">
						<a class="nav-link" n:href="Office:">Pracoviště</a>
					</li>
					{/if}
					{if $user->isAllowed('ShiftType')}
						<li class="nav-item {if $presenter == "ShiftType"}active{/if}">
							<a class="nav-link" n:href="ShiftType:">Typy směn</a>
						</li>
					{/if}
				</ul>
				<ul class="navbar-nav pull-right">
					<a n:href="Sign:out" class="nav-link">Odhlásit se</a>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{include content}
	</div>


	<script src="{$basePath}/plugins/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="{$basePath}/plugins/bootstrap-4.4.1/js/bootstrap.min.js"></script>
{*	<script src="{$basePath}/plugins/moment-with-locales.js"></script>*}
{*	<script src="{$basePath}/plugins/fullcalendar-3.9.0/fullcalendar.min.js"></script>*}
	<script src="{$basePath}/plugins/fullcalendar-4.3.1/core/main.js"></script>
	<script src="{$basePath}/plugins/fullcalendar-4.3.1/interaction/main.js"></script>
	<script src="{$basePath}/plugins/fullcalendar-4.3.1/daygrid/main.js"></script>
	<script src="{$basePath}/plugins/fullcalendar-4.3.1/timegrid/main.js"></script>
	<script src="{$basePath}/plugins/fullcalendar-4.3.1/bootstrap/main.js"></script>
	<script src="{$basePath}/plugins/air-datepicker/datepicker.min.js"></script>
	<script src="{$basePath}/plugins/air-datepicker/datepicker.cs.js"></script>
	<script src="{$basePath}/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="{$basePath}/plugins/nette.ajax.js"></script>

	<script>
		$(function () {
			$.nette.init();
		});
	</script>

	{block scripts}
	{/block}
</body>
</html>
