{block head}
    <style>
        .fc-event{
            cursor: pointer;
        }
    </style>
{/block}

{block content}
    <div class="row py-3">
        <div id="calendar"></div>
    </div>
    <div class="row py-3">
        <p>Směny pro příští měsíc jsou viditelné od <strong>{$visibility->format('d. m. Y')}</strong><br>
        Uzávěrka pro příští měsíc je <strong>{$deadline->format('d. m. Y H:i:s')}</strong></p>
    </div>
    <div class="row py-3">
        <div class="col-md-4">
            <span class="badge badge-primary" style="background-color: green">Typ</span> - Minimálně jedna volná směna
        </div>
        <div class="col-md-4">
            <span class="badge badge-primary" style="background-color: blue">Typ</span> - Jste přihlášený/á na jednu ze směn
        </div>
        <div class="col-md-4">
            <span class="badge badge-primary" style="background-color: red">Typ</span> - Všechny směny obsazené
        </div>
    </div>

{/block}

{block scripts}
    {include parent}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid', 'bootstrap', 'interaction', 'timeGrid' ],
                eventColor: 'green',
                bootstrapFontAwesome: true,
                timeZone: 'local',
                themeSystem: 'bootstrap',
                firstDay: 1,
                locale: 'cs',
                header: {
                    left: /*'dayGridMonth,timeGridWeek',*/ '',
                    center: 'title',
                    right: 'prev,next'
                },
                eventLimit: false, // allow "more" link when too many events
                displayEventEnd: true,
                displayEventTime: false,
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false
                },
                eventOrder: '',
                showNonCurrentDates: false,
                allDaySlot: false,
                eventSources: [
                    {link Shift:interval},
                    {
                        url: {link Shift:holidays},
                        color: '#FFFF00',
                    }
                ],
                defaultDate: {$date},
                {if $user->isInRole('admin')}
                dateClick: function(info) {
                    window.location.href = {link Shift:create} + '/' + info.dateStr;
                },
                {else}
                eventClick(info) {
                    $.get({link Shift:signInOut},
                        {
                        shiftTypeId: info.event.extendedProps.shiftTypeId,
                        date: info.event.start.getFullYear() + '-' + (info.event.start.getMonth() + 1) + '-' + info.event.start.getDate()
                    }, function(data, status){
                        //alert("Data: " + data.result + "\nStatus: " + status);
                        switch(data.result) {
                            case 0:
                                info.el.style.backgroundColor = 'blue';
                                info.el.style.borderColor = 'blue';
                                break;
                            case 1:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se přihlásit',
                                    text: 'z důvodu překročení měsíčního limitu.',
                                });
                                break;
                            case 2:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se přihlásit',
                                    text: 'z důvodu překročení uzávěrky pro tento měsíc.',
                                });
                                break;
                            case 3:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se přihlásit',
                                    text: 'Tento den jste již přihlášen/a na jinou směnu.',
                                });
                                break;
                            case 4:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se přihlásit',
                                    text: 'Již jste vyplýtval/a měsíční limit pro páteční směny.',
                                });
                                break;
                            case 5:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se přihlásit',
                                    text: 'Všechny směny jsou již obsazeny.',
                                });
                                break;
                            case 10:
                                info.el.style.backgroundColor = 'green';
                                info.el.style.borderColor = 'green';
                                break;
                            case 11:

                                break;
                            case 12:
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Nelze se odhlásit',
                                    text: 'z důvodu překročení uzávěrky pro tento měsíc.',
                                });
                                break;
                        }
                    });
                    //info.el.style.backgroundColor = 'pink';
                    //info.el.style.borderColor = 'pink';
                }
                {/if}
            });

            calendar.render();
        });
    </script>
{/block}

