
    <h3 style="text-align: center; padding-bottom: 10px;">{$first->format('d. m. Y')} - {$last->format('d. m. Y')}</h3>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Pondělí</th>
        <th>Úterý</th>
        <th>Středa</th>
        <th>Čtvrtek</th>
        <th>Pátek</th>
        <th>Sobota</th>
        <th>Neděle</th>
    </tr>
    </thead>
    <tbody>
    {foreach $offices as $office}
        {foreach $shiftTypes as $type}
            <tr>
                <th>{$office->name} - {$type->name}</th>
                {foreach range(1, 6) as $i}
                    <td>{ifset $shifts[$i][$office->id][$type->id]}<small>{$shifts[$i][$office->id][$type->id]['start']} - {$shifts[$i][$office->id][$type->id]['end']}</small><br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['doctor']}<span class="badge badge-success">{$shifts[$i][$office->id][$type->id]['doctor']}</span> <br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['nurse']}<span class="badge badge-primary">{$shifts[$i][$office->id][$type->id]['nurse']}</span> <br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['receptionist']}<span class="badge badge-danger">{$shifts[$i][$office->id][$type->id]['receptionist']}</span>{/ifset}</td>
                {/foreach}
                <td>{ifset $shifts[0][$office->id][$type->id]}<small>{$shifts[0][$office->id][$type->id]['start']} - {$shifts[0][$office->id][$type->id]['end']}</small><br>{/ifset}{ifset $shifts[0][$office->id][$type->id]['doctor']}<span class="badge badge-success">{$shifts[0][$office->id][$type->id]['doctor']}</span> <br>{/ifset}{ifset $shifts[0][$office->id][$type->id]['nurse']}<span class="badge badge-primary">{$shifts[0][$office->id][$type->id]['nurse']}</span> <br>{/ifset}{ifset $shifts[7][$office->id][$type->id]['receptionist']}<span class="badge badge-danger">{$shifts[7][$office->id][$type->id]['receptionist']}</span>{/ifset}</td>
            </tr>
        {/foreach}
    {/foreach}
    </tbody>
</table>