{* This is the welcome page, you can delete it *}

{block head}

{/block}

{block content}
	<div class="row py-3">
		<div id="calendar"></div>
	</div>

{/block}

{block scripts}
{include parent}

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins: [ 'dayGrid', 'bootstrap', 'interaction', 'timeGrid' ],
                eventColor: 'green',
				bootstrapFontAwesome: true,
				timeZone: 'local',
				themeSystem: 'bootstrap',
                firstDay: 1,
                locale: 'cs',
				header: {
					left: /*'dayGridMonth,timeGridWeek',*/ '',
					center: 'title',
					right: 'prev,next'
				},
				eventLimit: false, // allow "more" link when too many events
				displayEventEnd: true,
				eventTimeFormat: {
					hour: '2-digit',
					minute: '2-digit',
					meridiem: false
				},
				eventOrder: 'title, start,',
				showNonCurrentDates: false,
				allDaySlot: false,
				events: {link Shift:OldInterval},
				{if $user->isInRole('admin')}
				dateClick: function(info) {
					window.location.href = {link Shift:create} + '/' + info.dateStr;
				}
				{/if}

			});

			calendar.render();
		});
	</script>
{/block}

