{block head}
    <style>

    </style>
{/block}
{block content}
    {snippet shiftsContainer}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Směny {$first->format('d. m. Y')} - {$last->format('d. m. Y')}</h3>
        </div>
        <div class="col-md-4 col-4">
            <span class="d-inline-block pull-right" tabindex="0" data-toggle="tooltip" {if !$isVisible}title="Není dokončená uzávěrka"{/if}>
                <a n:href="nextWeek! $date->format('Y-m-d')" {if !$isVisible}style="pointer-events: none;"{/if} class="btn btn-primary {if !$isVisible}disabled{/if}">Další týden</a>
            </span>
            <a n:href="prevWeek! $date->format('Y-m-d')" class="btn btn-primary pull-right" style="margin-right: 5px">Předchozí týden</a>
            <a target="_blank" n:href="exportPdf! $date->format('Y-m-d')" class="btn btn-primary pull-right" style="margin-right: 5px">PDF</a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Pondělí</th>
                    <th>Úterý</th>
                    <th>Středa</th>
                    <th>Čtvrtek</th>
                    <th>Pátek</th>
                    <th>Sobota</th>
                    <th>Neděle</th>
                </tr>
                </thead>
                <tbody>
                {foreach $offices as $office}
                    {foreach $shiftTypes as $type}
                        <tr>
                            <th>{$office->name} - {$type->name}</th>
                            {foreach range(1, 6) as $i}
                                <td>{ifset $shifts[$i][$office->id][$type->id]}<small>{$shifts[$i][$office->id][$type->id]['start']} - {$shifts[$i][$office->id][$type->id]['end']}</small><br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['doctor']}<span class="badge badge-success">{$shifts[$i][$office->id][$type->id]['doctor']}</span> <br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['nurse']}<span class="badge badge-primary">{$shifts[$i][$office->id][$type->id]['nurse']}</span> <br>{/ifset}{ifset $shifts[$i][$office->id][$type->id]['receptionist']}<span class="badge badge-danger">{$shifts[$i][$office->id][$type->id]['receptionist']}</span>{/ifset}</td>
                            {/foreach}
                            <td>{ifset $shifts[0][$office->id][$type->id]}<small>{$shifts[0][$office->id][$type->id]['start']} - {$shifts[0][$office->id][$type->id]['end']}</small><br>{/ifset}{ifset $shifts[0][$office->id][$type->id]['doctor']}<span class="badge badge-success">{$shifts[0][$office->id][$type->id]['doctor']}</span> <br>{/ifset}{ifset $shifts[0][$office->id][$type->id]['nurse']}<span class="badge badge-primary">{$shifts[0][$office->id][$type->id]['nurse']}</span> <br>{/ifset}{ifset $shifts[7][$office->id][$type->id]['receptionist']}<span class="badge badge-danger">{$shifts[7][$office->id][$type->id]['receptionist']}</span>{/ifset}</td>
                        </tr>
                    {/foreach}
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    {/snippet}
    <div class="row py-3">
        {if !$user->isInRole('admin')}
            <div class="col-md-12">
                <h3>Vybrané směny v měsíci</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Měsíc/Rok</th>
                        {foreach $shiftTypes as $type}
                            <th>{$type->name}</th>
                        {/foreach}
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $dates as $d}
                        <tr>
                            <td>{$d->format('m/Y')}</td>
                            {foreach $shiftTypes as $type}
                                <td>{$type->id|current:$d} / {$type->id|optimal:$d}</td>
                            {/foreach}
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        {/if}
    </div>
{/block}
{block scripts}
{/block}