{block head}
    <style>
        table tr td:last-child {
            white-space: nowrap;
            width: 1px;
        }
    </style>
{/block}
{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Seznam typů směn</h3>
        </div>
        <div class="col-md-4 col-4">
            <a n:href="ShiftType:create" class="btn btn-primary pull-right">Nový typ směn</a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Název</th>
                    <th>Začátek</th>
                    <th>Konec</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                {snippet shiftTypesContainer}
                    {foreach $types as $type}
                        <tr>
                            <td>{$type->id}</td>
                            <td>{$type->name}</td>
                            <td>{$type->start->format('H:i')}</td>
                            <td>{$type->end->format('H:i')}</td>
                            <td>
                                <a n:href="ShiftType:edit $type->id">Upravit</a>
                                <a n:href="deactivate! $type->id">Odstranit</a>
                            </td>
                        </tr>
                    {/foreach}
                {/snippet}
                </tbody>
            </table>
        </div>
    </div>
{/block}
{block scripts}

{/block}