{block content}
    <div class="row py-3">
        <div class="col-md-8 col-8">
            <h3>Upravit typ směny</h3>
        </div>
        <div class="col-md-4 col-4">

        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <form n:name="shiftTypeEditForm">
                <div class="form-group">
                    <label n:name="name">Název</label>
                    <input n:name="name" class="form-control {$form['name']->error ? 'is-invalid'}">
                    <div class="invalid-feedback">{$form['name']->error}</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label n:name="from">Začátek</label>
                        <input n:name="from" class="form-control {$form['from']->error ? 'is-invalid'}">
                        <div class="invalid-feedback">{$form['from']->error}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label n:name="to">Konec</label>
                        <input n:name="to" class="form-control {$form['to']->error ? 'is-invalid'}">
                        <div class="invalid-feedback">{$form['to']->error}</div>
                    </div>
                </div>
                <input n:name="submit" value="Upravit" class="btn btn-primary">
            </form>
        </div>
    </div>
{/block}